extends layout

block content
  h1 GCEIC Project
  p Welcome to GCEIC Project
  div
    a(href="/SDI") SDI
    a(href="/tmb") tmb
    a(href="/roi") ROI
    a(href="/infs") INFS
    a(href="/irrf") IRRF
    a(href="/geomcalc") GeomCalc
    a(href="/calculadora") Calculadora
    a(href="/temperature") Temperature
    a(href="/dev-ops-3-mark-up") MarkUp
    a(href="/caloricExpenditure") Caloric Expenditure