extends layout

block content
  h1= title
  p Welcome to GCEIC Project
  div
    a(href="/calculadora") Calculadora
    a(href="/caloricExpenditure") Caloric Expenditure
    a(href="/geomcalc") GeomCalc
    a(href="/infs") INFS
   ul
    a(href="/irrf") IRRF
    a(href="/dev-ops-3-mark-up") MarkUp
    a(href="planetweight") Planet Weight
   ul 
    a(href="/roi") ROI
    a(href="/SDI") SDI
    a(href="/temperature") Temperature
    a(href="/tmb") tmb
    a(href="/etec") ETEC 
